.popup__card-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 311px;

  color: #002051;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}
