.card__characteristics-subtitle {
  width: 176px;
  height: 30px;
  color: #002051;
  border-bottom: 2px solid #002051;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
}
